﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Anonymous/AnonymousMasterPage.master" AutoEventWireup="true" CodeFile="404.aspx.cs" Inherits="_404" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <asp:Label ID="PathLabel" runat="server" Text="Label"></asp:Label>
    <asp:Label ID="ErrorLabel" runat="server" Text=""></asp:Label>
</asp:Content>
